<div class="vote-section">
  <h3 [class]="label()" [title]="label() === 'good' ? 'Items you have marked as positive examples (' + elements().length + ')' : 'Items you have marked as negative examples (' + elements().length + ')'">
    {{ label() === 'good' ? 'Goods' : 'Bads' }} ({{ elements().length | number }})
  </h3>
  <vt-vote-grid
    [entries]="sortedEntries()"
    [label]="label()"
    [gridGoalWidth]="gridGoalWidth()"
    [focusMode]="focusMode()"
    (entrySelected)="onEntrySelected($event)"
    (entryVote)="onEntryVote($event)"
  />
</div>
