[tool.ruff]
line-length = 120
target-version = "py310"

[tool.ruff.lint]
# E402: Module level import not at top of file
ignore = ["E402"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"

[tool.pytest.ini_options]
testpaths = ["tests"]
