<div class="layout" #layout>
  <div class="panel-left">
    <vt-left-panel
      [medias]="mediaState.medias"
      [sortOrder]="sortState.sortOrder"
      [threshold]="sortState.threshold"
      [selectedId]="mediaState.selectedId"
      [goodVotes]="voteState.goodVotes"
      [badVotes]="voteState.badVotes"
      [sortMode]="sortState.sortMode"
      [selectMode]="sortState.selectMode"
      [inclusion]="sortState.inclusion"
      [sortBusy]="sortState.sortBusy"
      [sortStatus]="sortState.sortStatus"
      [sortProgress]="sortState.sortProgress"
      [sortProgressTotal]="sortState.sortProgressTotal"
      [labelingStatus]="labelingStatus"
      [viewMode]="viewModeLeft"
      [gridGoalWidth]="gridGoalWidthLeft"
      [focusMode]="focusModeLeft"
      [loadSortLabel]="sortState.loadSortLabel"
      [textQuery]="sortState.textQuery"
      (sortModeChange)="onSortModeChange($event)"
      (selectModeChange)="onSelectModeChange($event)"
      (inclusionChange)="onInclusionChange($event)"
      (textSort)="onTextSort($event)"
      (learnedSort)="onLearnedSort(false)"
      (loadSort)="onLoadSort()"
      (modelSelected)="onModelSelected($event)"
      (exampleSortStarted)="onExampleSortStarted($event)"
      (mediaSelect)="onMediaSelect($event)"
      (mediaVote)="onHoverVote($event)"
      (indicatorClick)="onIndicatorClick($event)"
      [datasetName]="datasetName"
      [autopilotCollapsed]="autopilotCollapsed"
      [autopilotEnabled]="autopilotEnabled"
      (autopilotStart)="onAutopilotStart()"
      (autopilotStop)="onAutopilotStop()"
      (autopilotRefocus)="onAutopilotRefocus()"
      (autopilotToggleCollapse)="onAutopilotToggleCollapse()"
      (autopilotEnabledChange)="onAutopilotEnabledChange($event)"
    />
  </div>
  <div
    class="divider-left"
    (mousedown)="onDividerMouseDown($event)"
  ></div>
  <div class="panel-center">
    <vt-center-panel
      [media]="mediaState.selectedMedia"
      (mediaVoted)="onMediaVoted($event)"
    />
  </div>
  <div
    class="divider-right"
    (mousedown)="onRightDividerMouseDown($event)"
  ></div>
  <div class="panel-right">
    <vt-right-panel
      [medias]="mediaState.medias"
      [focusMode]="focusModeRight"
      [trainableModelName]="trainableModelName"
      (mediaSelected)="onMediaSelect($event)"
      (mediaVoted)="onHoverVote($event)"
    />
  </div>
</div>

@if (progressModalMetric) {
  <vt-progress-modal
    [metric]="progressModalMetric"
    [useCachedHistory]="true"
    (closed)="onProgressModalClosed()"
  />
}

@if (showResortPrompt) {
  <vt-resort-prompt-modal
    [currentExampleType]="resortCurrentType"
    [currentExampleDisplay]="resortCurrentDisplay"
    [keepLabelsCount]="nextResortThreshold"
    (keepExample)="onResortKeep()"
    (newExample)="onResortNewExample($event)"
    (closed)="onResortClosed()"
  />
}
