<vt-modal
  [open]="true"
  [title]="view === 'cropping' ? 'Crop example' : 'Use this example?'"
  (closed)="onCancel()">
  <ng-container *ngIf="view === 'confirm'">
    <div class="preview">
      <ng-container [ngSwitch]="mediaType">
        <img *ngSwitchCase="'image'" [src]="fileUrl" alt="Example preview" />
        <audio *ngSwitchCase="'audio'" [src]="fileUrl" controls></audio>
        <video *ngSwitchCase="'video'" [src]="fileUrl" controls></video>
        <div *ngSwitchDefault class="generic-preview">
          {{ file.name }}
        </div>
      </ng-container>
    </div>

    <div class="filename">{{ file.name }}</div>

    <div class="actions">
      <button type="button" class="primary" (click)="onOk()">OK</button>
      <button
        type="button"
        class="secondary"
        [disabled]="!cropSupported"
        [title]="cropSupported ? 'Crop to a sub-region' : 'Cropping not supported for this media type'"
        (click)="onOkButCrop()">
        OK but crop
      </button>
      <button type="button" class="cancel" (click)="onCancel()">Cancel</button>
    </div>
  </ng-container>

  <ng-container *ngIf="view === 'cropping'">
    <vt-image-crop-overlay
      *ngIf="mediaType === 'image'"
      [imageUrl]="fileUrl"
      (applied)="onImageCropApplied($event)"
      (cancelled)="onCropOverlayCancelled()">
    </vt-image-crop-overlay>
    <vt-audio-crop-overlay
      *ngIf="mediaType === 'audio'"
      [audioUrl]="fileUrl"
      [audioFile]="file"
      (applied)="onAudioCropApplied($event)"
      (cancelled)="onCropOverlayCancelled()">
    </vt-audio-crop-overlay>
  </ng-container>
</vt-modal>
