<div class="layout" #layout>
  <div class="panel-left">
    <vt-left-panel
      [medias]="mediaState.medias"
      [sortOrder]="unverifiedSortOrder"
      [threshold]="sortState.threshold"
      [selectedId]="mediaState.selectedId"
      [goodVotes]="noVotes"
      [badVotes]="noVotes"
      [sortMode]="sortState.sortMode"
      [selectMode]="sortState.selectMode"
      [inclusion]="sortState.inclusion"
      [sortBusy]="sortState.sortBusy"
      [sortStatus]="sortState.sortStatus"
      [sortProgress]="sortState.sortProgress"
      [sortProgressTotal]="sortState.sortProgressTotal"
      [labelingStatus]="null"
      [viewMode]="viewModeLeft"
      [gridGoalWidth]="gridGoalWidthLeft"
      [focusMode]="focusModeLeft"
      [loadSortLabel]="sortState.loadSortLabel"
      [textQuery]="sortState.textQuery"
      [datasetName]="datasetName"
      [panelMode]="'find'"
      [disabled]="sortState.sortBusy"
      [autopilotCollapsed]="false"
      [autopilotEnabled]="false"
      (mediaSelect)="onMediaSelect($event)"
      (mediaVote)="onHoverVote($event)"
      (inclusionChange)="onInclusionChange($event)"
      (browse)="onBrowseUnverified()"
      (toDataset)="onToDatasetUnverified()"
      (unverifiedExport)="onExportRequest('unverified_good')"
      (sortCancel)="onSortCancel()"
    />
  </div>
  <div
    class="divider-left"
    (mousedown)="onDividerMouseDown($event)"
  ></div>
  <div class="panel-center">
    @if (sortState.sortBusy) {
      <div class="find-wait-overlay">
        <div class="find-wait-content">
          <p class="find-wait-message">Please wait: scoring dataset with detector…</p>
          <vt-progress-bar
            [indeterminate]="sortState.sortProgressTotal <= 0"
            [value]="sortState.sortProgress"
            [max]="sortState.sortProgressTotal"
          />
          @if (sortState.sortProgressTotal > 0) {
            <span class="find-wait-count">{{ sortState.sortProgress | number }} / {{ sortState.sortProgressTotal | number }}</span>
          }
          <button class="btn btn--secondary btn--sm" (click)="onSortCancel()">Cancel</button>
        </div>
      </div>
    }
    <vt-center-panel
      [media]="mediaState.selectedMedia"
      [disabled]="sortState.sortBusy"
      (mediaVoted)="onMediaVoted($event)"
    />
  </div>
  <div
    class="divider-right"
    (mousedown)="onRightDividerMouseDown($event)"
  ></div>
  <div class="panel-right">
    <vt-right-panel
      [medias]="mediaState.medias"
      [focusMode]="focusModeRight"
      [disabled]="sortState.sortBusy"
      mode="find"
      (mediaSelected)="onMediaSelect($event)"
      (mediaVoted)="onHoverVote($event)"
      (browse)="onBrowse()"
      (toDataset)="onToDataset()"
      (exportLabels)="onExportRequest($event)"
      (stats)="onStats()"
    />
  </div>
</div>

@if (showExport) {
  <vt-export-modal
    [initialFilter]="exportFilter"
    (closed)="showExport = false"
    (exported)="showExport = false"
  />
}

@if (showStats) {
  <vt-find-stats-modal (closed)="showStats = false" />
}
