<div
  class="context-menu"
  role="menu"
  [style.left.px]="x"
  [style.top.px]="y"
  (contextmenu)="onMenuContextMenu($event)"
>
  @for (item of items; track item.id) {
    <button
      type="button"
      class="menu-item"
      role="menuitem"
      [class.disabled]="item.disabled"
      [disabled]="item.disabled"
      [title]="item.title || ''"
      (click)="onItemClick($event, item)"
    >
      @if (item.iconSvg) {
        <span class="menu-item__icon" aria-hidden="true" [innerHTML]="safeIcon(item.iconSvg)"></span>
      }
      <span class="menu-item__label">{{ item.label }}</span>
    </button>
  }
</div>
