<div class="vote-buttons">
  <button
    class="btn-bad"
    [class.voted]="isBad"
    [class.vote-flash]="badFlash"
    [disabled]="disabled"
    (click)="onVoteBad()"
    title="Mark this media as a Bad example."
  >
    <vt-icon type="thumbs-down" [size]="18" [class.icon-spinning]="spinningVote === 'bad'"></vt-icon>
    Bad
  </button>
  <button
    class="btn-good"
    [class.voted]="isGood"
    [class.vote-flash]="goodFlash"
    [disabled]="disabled"
    (click)="onVoteGood()"
    title="Mark this media as a Good example."
  >
    <vt-icon type="thumbs-up" [size]="18" [class.icon-spinning]="spinningVote === 'good'"></vt-icon>
    Good
  </button>
</div>
